<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - Notes App</title>
  <link rel="stylesheet" href="/style.css">
  <% if (typeof extraHead !== 'undefined') { %><%- extraHead %><% } %>
</head>
<body style="background:#f0f2f5;">
  <%- body %>
</body>
</html>
